// css reset
// `A Modern CSS Reset` by [joshwcomeau](https://github.com/joshwcomeau)
// https://www.joshwcomeau.com/css/custom-css-reset/

// 1. Use a more-intuitive box-sizing model
*,
*::before,
*::after {
  box-sizing: border-box;
}

// 2. Remove default margin
* {
  margin: 0;
}

body {
  // 3. Add accessible line-height
  line-height: 1.5;
  // 4. Improve text rendering
  -webkit-font-smoothing: antialiased;
}

// 5. Improve media defaults
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

// 6. Inherit fonts for form controls
input,
button,
textarea,
select {
  font: inherit;
}

// 7. Avoid text overflows
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

// 8. Improve line wrapping
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

// 9. Create a root stacking context
#root,
#__next {
  isolation: isolate;
}

a {
  color: inherit;
  text-decoration: inherit;
}

@mixin common($z-index: 0) {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: $z-index;
}

.container {
  overflow: hidden;
  display: grid;
  place-items: center;
  height: 70vh;
}

.container-full {
  padding: 2.25rem 0;
  min-width: 680px;
  width: 50%;
  min-height: 100vh;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  color: #18181b;
}

// thanks ibelick's works! https://github.com/ibelick/background-snippets
.bg-l {
  @include common(-10);
  inset: 0;
  background-color: rgb(255 255 255);
  background-image: linear-gradient(to right, #8080800a 1px, #0000 1px), linear-gradient(#8080800a 1px, #0000 1px);
  background-size: 14px 24px;

  >div {
    @include common(-2);
    top: 0;
    background-image: radial-gradient(100% 50% at 50% 0, #00a3ff21 0, #00a3ff00 50% 100%);
  }
}