body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.intro {
  font-size: 18px;
  font-weight: normal;

  span {
    font-weight: bold;
  }
}


.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  a {
    display: inline-block;
    width: 24px;
    height: 24px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}