@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin decoration {
  text-decoration: #0000 wavy underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.navigator {
  @include flex-center;
  flex-direction: column;
  gap: .75rem;
  color: #18181b;
}

.slogan {
  letter-spacing: .05rem;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.75rem;

  >a {
    margin: 0 .375rem 0;
    font-weight: 600;
    @include decoration;

    &:hover {
      text-decoration-color: #18181b;
    }
  }
}

.contact {
  @include flex-center;
  gap: 1rem;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  span {
    cursor: pointer;
  }
}

.router {
  @include flex-center;
  gap: .75rem;

  .link {
    padding: .25rem .5rem;
    font-weight: 400;

    &.active {
      border-radius: .5rem;
      background-color: #ffffff;
      box-shadow:
        0 0 #0000, 0 0 #0000,
        0 0 #0000, 0 0 #0000,
        0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    }
  }

  .text {
    @include flex-center;
    gap: .375rem;
    height: 100%;
    font-size: 0.85rem;

    span {
      @include decoration;
    }

    &:hover {
      span {
        text-decoration-color: #18181b;
      }
    }
  }

  svg {
    width: 1.75rem;
    height: 1.75rem;
  }
}