{
  "editorconfig": true,
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "never",
  "printWidth": 120,
  "overrides": [
    {
      "files": ["*.json", ".prettierrc"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
