.code-block {
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: #282c34;
  color: #abb2bf;
}

.code-language {
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  border-bottom: 1px solid rgba(156, 163, 175, 0.05);
}

.code {
  padding: 1.25rem 1.5rem;
  font-size: 1rem;
}