:root {
  --color-primary: #047857;
  --color-secondary: #ecc94b;
  --color-tag-a: #047857;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-serif text-lg dark:bg-[#282c35] dark:text-white;
  }
  a {
    @apply shadow-tag-a text-tag-a;
  }
  a:hover {
    @apply shadow-none;
  }
}
