:root {
  --color-primary: #333333;
  --color-link: #047857;
}

.dark:root {
  --color-primary: #f8f8f2;
  --color-link: #bd93f9;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-serif text-lg dark:bg-[#383a59] dark:text-white;
  }
  a {
    @apply shadow-link text-link;
  }
  a:hover {
    @apply shadow-none;
  }
}
