@import "./utils.scss";

.box {
  @include flex-center-column;
  padding: 0.75rem 0 0;
}

.details {
  @include flex-center-column;
  @include text-left;
  gap: 0.75rem;
  font-size: 1rem;
  color: #212121;

  header {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;

    &:hover {
      text-decoration: #212121 underline;
    }
  }
}

.article {
  font-size: 1.25rem;
  color: #212121;
}