@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  @include flex-center;
  flex-direction: column;
  gap: .75rem;
}

.hello {
  @include flex-center;
  letter-spacing: .05rem;
  gap: .375rem;
  font-weight: lighter;
  font-size: 1.25rem;
  line-height: 1.75rem;

  &:hover {
    >span {
      animation: wave .7s ease 1;
    }
  }

  >a {
    font-weight: bold;
  }
}

.contact {
  @include flex-center;
  gap: 1rem;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  span {
    cursor: pointer;
  }
}

.routes {
  @include flex-center;
  gap: .75rem;

  .route {
    padding: .25rem .5rem;
    font-weight: 400;

    &.active {
      border-radius: .5rem;
      background-color: #ffffff;
      box-shadow:
        0 0 #0000, 0 0 #0000,
        0 0 #0000, 0 0 #0000,
        0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    }
  }

  .text {
    @include flex-center;
    gap: .375rem;
    height: 100%;
    font-size: 0.85rem;

    span {
      text-decoration: #0000 wavy underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 5px;
    }

    &:hover {
      span {
        text-decoration-color: #18181b;
      }
    }
  }

  svg {
    width: 1.75rem;
    height: 1.75rem;
  }
}


@keyframes wave {
  0% {
    transform: scale(1) rotate(0deg)
  }

  20% {
    transform: scale(1.1) rotate(-3deg)
  }

  40% {
    transform: scale(1.1) rotate(3deg)
  }

  60% {
    transform: scale(1.1) rotate(-2deg)
  }

  80% {
    transform: scale(1.1) rotate(2deg)
  }

  100% {
    transform: scale(1) rotate(0deg)
  }
}
